.me-tabs__ui-container {
  position: relative;
  & .me-tabs__btn-group {
    position: absolute;
    display: flex;
    left: 0;
    top: -20px;
    opacity: 0;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
  }
  &:hover .me-tabs__btn-group {
    opacity: 1;
  }
}
.me-tabs-btn--edit,
.me-tabs-btn--delete,
.me-tabs-btn--add {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background: #fff;
}
.me-tabs-btn--add {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='.5' fill-rule='evenodd' clip-rule='evenodd' d='M13 6V11H18V13H13V18H11V12.999L6 13V11L11 10.999V6H13Z' fill='%23130F13'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 30px;
  margin-left: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25);
  opacity: 0;
  &:hover {
    background-color: rgba(0, 0, 0, .25);
  }
}
.c-tabs-group__tabs:hover .me-tabs-btn--add {
  opacity: 1;
}
.me-tabs-btn--edit,
.me-tabs-btn--delete {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  opacity: .5;
  text-indent: -10000px;
  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .25);
  }
}
.me-tabs-btn--edit {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.284 8.63082L19.6136 7.30121C20.0152 6.8996 20.6664 6.8996 21.068 7.30121L22.6988 8.93203C23.1004 9.33365 23.1004 9.98479 22.6988 10.3864L21.3692 11.716L18.284 8.63082Z' fill='%23000000'/%3E%3Cpath d='M17.2556 9.65922L9.0284 17.8864L8 22L12.1136 20.9716L20.3408 12.7444L17.2556 9.65922Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  background-size: cover;
}
.me-tabs-btn--delete {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 8H16C16.5523 8 17 8.44772 17 9H21V11H9V9H13C13 8.44772 13.4477 8 14 8ZM10 12H20L19.09 21.0995C19.0389 21.6107 18.6088 22 18.095 22H11.905C11.3912 22 10.9611 21.6107 10.91 21.0995L10 12Z' fill='%23000000'/%3E%3C/svg%3E%0A");
  background-size: cover;
}
